# These owners will be the default owners for everything in the repo.

-       @honghoangsts @hoangSTS @huydosgtech @loc-nguyenthien @loido @nghoangchung @ThinhKimVo @tuledu @ngochuyduong @hangnguyensaigontech
